
.content {
    font-style: italic;
    font-size: 35px;
}

p {
    font-size: 20px;
    color: #5e40cb;
}

.image {
    width: 300px;
    height: 200px;
}

.horizontal-menu {
    display: inline;
    margin-right: 20px;
}

.horizontal-menu li {
    display: inline; 
    margin-right: 10px; 
}

.flex-container{
    display: flex;
    flex-direction: column;
    background-color: #8bdcd4;
    padding: 20px;
}

.flex-item{
    margin: 10px;
    padding: 20px;
    border-radius: 12px;
    background-color: #cf939f;
}

/*adjustments fo rsmaller screens*/
@media only screen and (min-width: 600px) {
    .flex-container{
        padding: 10px;
    }

    .flex-item{
        margin: 5px;
        padding: 10px;
    }
}
#box {
    box-shadow: 3px 3px 5px #000000;
}

#title{
    text-align: center;
}